---
import type {
  FrontmatterPage,
  IFrontmatter,
} from 'astro-boilerplate-components';
import {
  Section,
} from 'astro-boilerplate-components';


interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` ${AppConfig.site_name}`;
const titleBase = `Projects -`;
const title = titleBase + titleSuffix;
const description =
  'Pagination example built with Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='Projects'
      description='Hi, glad you are visiting my projects!!!🚀'
    />
  </Section>

</Base>
